<div class="container-fluid dashboard">
	<div class="navBar">
	<app-nav></app-nav>
</div>
<div class="row">
	
<div class="col-md-9 col-md-offset-2 main-content">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-1 ">
				<div class="panel-body  ">
					
					<form #f= 'ngForm' submit >
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Change Password</h4>
							</div>
						<div class="form-group">
							<label for="password" >Old Password:</label>
							<input type="password"  name="password" required class="form-control" placeholder="Old Password" [(ngModel)]= 'password'>
						</div>
						<div class="form-group">
							<label for="password" >New Password:</label>
							<input type="password"  name="newPassword" required class="form-control" minlength="6" placeholder="New Password" [(ngModel)]='newPassword'>
						</div>
						<div class="form-group">
							<label for="password" >Conform New Password:</label>
							<input type="password"  name="passwordCheck" required class="form-control" minlength="6" placeholder="New Password" [(ngModel)]='passwordCheck'>
						</div>
						<button type="submit" class="btn btn-default pull-right button" (click)='onChangeUserPassword(f)'>Update Password</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>