h4{
	text-align: center;
	margin-top: 25px;

}
.loginBox{
	border: 1px solid #f2f2f2;
	box-shadow: 5px 7px 9px grey;
	padding: 0px;
}
.google {
    color: #dd4b39 !important;
    margin-bottom: 8px;
    /*color: white;*/
}
.facebook {
    color: #006699 !important;
    margin-bottom: 8px;
    width: 50px;
}
.emailButton{
	text-align: center;
	margin-bottom: 10px;
	color: #42a98d;
}
.login{
	display: flex;
	align-items: center;
	height: 70vh;
}
.panel-heading{
	background-color:#ccc;
}

.panel-footer{
	background-color: #ffffff;
	border: 0px solid #ffffff;
}
.registerButton{
	color: #31708f;
	cursor: pointer;
}
.registerForm{
	padding: 10px;
}
.registerHeadder{
	margin-bottom: 20px;
}
.card-title{
	margin-top: 10px;
    margin-bottom: 10px;
    color: #ddd;
}
.card{
	 display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    border-radius: 6px;
    color: rgba(0,0,0,.87);
    background: #fff;
    padding:8px;
}
.card-header{
	margin: -41px 15px 20px 18px;
    border-radius: 3px;
    padding: 15px;
    background-color: #42a98d;
    position: relative;
    box-shadow:6px 5px 15px #9d9d9d;
}
.social{
	margin-left: 5px;
	margin-right: 5px;
}
 .input-group{
	padding: 0px 8px 0px 8px;
	display: table;
}
input{
	 border: none;
    background:none;
}
.input-group-addon{
	border:none;
	background-color: transparent;
}
.form-group{
	
    margin: 20px 0 0 0;
}
.fa-user,.fa-lock{
	margin-top: 18px;
}
.card-login{
	margin: 13px 0 31px 0;
	padding: 10px 20px 15px 12px;
}
.background {
	background-image: url(../../../assets/image/login.jpg);
	position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50%;	
   	filter: brightness(50%);
}
h5{
	text-align: center;
	/*margin-top: 15px;*/
	color: #999;
}
.loginForm{
	 -webkit-animation: fadein 5s; 
      
}
@keyframes fadein {
    from { opacity: 0; 
    0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

    to   { opacity: 1; }
}
}
@-webkit-keyframes fadein {
     from { opacity: 0; 
    0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

    to   { opacity: 1; }
}

}
.form-control {
  border: 0;
  background-image: linear-gradient( #9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: rgba(0, 0, 0, 0);
  transition: background 0s ease-out;

  float: none;
  box-shadow: none;
  border-radius: 0;

  font-weight: 400;
}

.form-control:focus { 
   outline: none;
   background-image: linear-gradient( #55d4af, #55d4af), linear-gradient(#D2D2D2, #D2D2D2);
   background-size: 100% 2px,100% 1px;
   box-shadow: none;
   transition: 0.5s;
}
.material-icons{
  margin-top: 17px;
}
.button:focus { 
  outline: none;
  color: #42a98d
 }
 .btn-link{
  color: #42a98d
 }