li {
  list-style: none;
}
.card-image img {
  max-height: 100%;
  padding: 10px;
  object-fit: contain;
  max-width: 100%;
}
.dashboard {
  overflow-x: hidden;
  position: relative;
  top: 0;
  height: 100vh;
  padding: 0px;
}
.sidebar {
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  height: auto;

  /* padding: 15px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 1px 5px 0 rgba(45, 62, 80, .12);
    width: 100%;
    margin: 0px 0 20px 0;
    position: relative;
    border-top: 5px solid #5a85a7; */
}
.side-menu {
  overflow: hidden;
  padding-top: 0px;
  min-height: auto;
  margin-top: 10px;
}
.card-title {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
  display: grid;
  margin: 0 auto;
  text-align: center;
}
.product-container {
  padding: 0px;
  height: auto;
  background-color: #fff;
}
.card {
  display: inline-block;
  background: #fff;
  padding: 5px;
  margin-bottom: 30px;
  margin-top: 12px;
  cursor: pointer;
  height: 322px;
}

.navBar {
  color: black;
}
.card-image {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  overflow: hidden;
}

.navBar {
  border-bottom: 1px solid #eee;
  box-shadow: 6px 2px 12px #9d9d9d;
}
.panel-body {
  padding: 0px;
}
.favourite {
  margin: 10px 10px 0 0;
  color: darkgrey;
}
.active {
  color: red;
}
.inactive {
  background: transparent;
}
.product-name {
  text-overflow: ellipsis;
  text-align: center;
}
p {
  font-size: 14px;
  width: 200px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ddd;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  opacity: 0.8;
  color: black;
  text-align: justify;
}

.card:hover {
  box-shadow: 0 3px 16px 0 #9d9d9d;
}

.description-text {
  white-space: nowrap;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.product-price {
  text-align: center;
  padding: 10px 0px;
  font-size: 17px;
  font-weight: 500;
}
.productList {
  background-color: #ddd;
  padding: 15px 29px;
  margin-left: 14px;
}
.sidebar-heading {
  margin-top: 0px;
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
}
.sidebar ul {
  padding: 0px;
}
.category-name {
  text-align: center;
}

a {
  text-decoration: none;
}
.menu-heading {
  color: black !important ;
  font-size: 16px;
}
.category-list {
  color: #7f7f7f;
  margin: 7px 0;
  padding-left: 10px;
  cursor: pointer;
}
.sidebar-header {
  font-size: 21px;
  padding: 11px;
}
.collapsed {
  margin-bottom: 7px;
  border-bottom: 1px solid #ddd;
  padding: 11px;
}
#new {
  border-bottom: 1px solid #ddd;
}
.search-list li {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 7px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  white-space: nowrap;
}
.toggle-btn {
  display: block;
}
.collapsedin {
  display: block;
}
.search-list {
  padding: 0px;
  cursor: pointer;
  line-height: 1.42857143;
  margin-top: 0;
  margin-bottom: 10px;
  position: absolute;
  z-index: 10000;
}
.navbar-form {
  position: relative;
}
.btn-success {
  padding: 0px 10px;
  font-size: 14px;
  cursor: auto;
}
.btn-success {
  font-size: 14px;
}

.dropdownMenu {
  display: block;
}
#dropdown {
  display: block;
}
.main-container {
  border-left: 1px solid #ddd;
  display: block;
}
.favourite-list,
.cart-list,
.profile-list {
  margin-bottom: 7px;
  border-bottom: 1px solid #ddd;
  padding: 11px;
  color: #7f7f7f;
  font-size: 16px;
  cursor: pointer;
}
.sk-cube-grid {
  width: 86px;
  height: 86px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #b33c3c;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@media only screen and (max-width: 1024px) {
  .main-container{
    border: none;
    margin-top: 30px;
  }
  .side-menu{
    z-index: 999999;
    position: absolute;
    background: #ffffff;
    padding: 3px;
    border: 1px solid #dedede;
    text-align: justify;
    /* top: 5%; */
    left: 0;
  }

}
@media only screen and (max-width: 768px) {
  .side-menu {
    /* width: auto;
    float: right;
    display: block; */
    z-index: 999999;
    position: absolute;
    background: #ffffff;
    padding: 3px;
    border: 1px solid #dedede;
    text-align: justify;
    top: 9%;
    left: 24px;
  }
  .sidebar {
    /* width: auto; */
    float: right;
    position: absolute;
    display: block;
  }
  .product-container {
    height: auto;
    display: block;
  }
  .toggle-btn {
    display: block;
  }
  .main-container {
    /* position: absolute; */
    padding: 0px;
    text-align: center;
  }
  .toggle-btn {
    display: block;
    cursor: pointer;
    left: 10px;
    top: -38px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    text-align: center;
  }
  .main-container{
    border: none;
  }
  
}
