li{
    list-style: none;
}
.poster{
    display: flex;
    height: 360px;
    overflow: hidden;
}
.image-div{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
.poster img{
    height: 300px;
    max-width: 100%;
    box-shadow: 5px 7px 9px grey;
    padding: 0px;
}
.dashboard{
	position: relative;
    top: 0;
}
.sideBar-image{

    background-image: url(../../../../assets/image/lock.jpg);
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50%;
    filter: brightness(50%);
    box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 1);
}
.sideBar{
   position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 260px;
    overflow: auto;
    box-shadow: 6px 2px 12px #9d9d9d;
}
.action-buttons{
    text-align: center;
}
.product-image img{
    max-width: 100%;
    margin: 0 auto;
    max-height: 100%;
}

.image-container{
    height: 150px;
    width: 150px;
    display: grid;
    margin: 12px;
    position: relative;
}
.product-image{
    /*height: 100px;*/
    width: 50px;
    display: grid;
    margin: 0 auto;
}
.addToCart{
    background-color: #20bd99;
    margin-top: 20px;
    box-shadow: 5px 7px 14px grey;
}
.product{
   display:inline-block;
   margin: 6px;
}
.product-detail{
    margin-top: 30px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
   /* box-shadow: 9px 6px 12px #9d9d9d;*/
}
.product-price{
    padding-top: 5px;
    margin-bottom: 8px;
    font-size: 20px;
}
.product-description{
    font-weight: 500;
    padding: 10px 0px;
}
.product-price b{
    font-size: 20px;
}
.btn-default{
    padding: 0px 10px;
    color: #fff;
    text-align: center;
    background-color: #ff9f00;
    cursor: auto;
}
.product-details{
    float: right;
}
.buyItem{
    background-color: #ef5350;
    margin-top: 20px;
    margin-left: 8px;
    box-shadow: 5px 7px 14px grey;  
}
.review-button{
    padding-left: 0px;
    margin-top: 6px;
    color: #3a9c3a;
}
.userEmail{
    color: #078c8c
}
.remove{
    color: red;
    cursor: pointer;
}
.fa-user{
    color: grey;
}
.user-review{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    border: 1px solid #ddd;
}
h5{
    color: red;
}
.navBar{
   border-bottom: 1px solid #eee;
  box-shadow: 6px 2px 12px #9d9d9d;
  color:black;
}
.review{
    color: #504c4c;
    margin: 10px;
    line-height: 150%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description{
    margin: 10px 0px;
}
.description span{ 
    font-weight: 500;
    color: #878787;
    width: 110px;
    padding-right: 10px;
    float: left;
}
fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}
.btn-success{
    padding: 0 12px;
    cursor: auto;
}
.btn-warning{
    background-color: #ff9f00;
    padding: 1px 4px;
    font-size: 11px;
    cursor: auto;
    
}
.review-product{
    cursor: pointer;
}
.rating-font{
    font-size: 14px;
    color:#fff;
    font-weight: 900;
}
b{
    font-size: 16px;
}
.user-name{
    font-size: 11px;
}
.user-comment{
    padding: 10px 18px;
    border-bottom: 1px solid #ddd;

}
/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
.rating > label {
    color: #a9a8a8;
    float: right;
}